<section>
  <h2 class="projects-title">Últimos projetos</h2>
  <div class="cards-container">
    <app-card
      titulo="Projeto Refloreste"
      descricao="Projeto feito com intuito de praticar e ensinar conceitos de desenvolvimento web com Angular e Scss junto com um amigo desenvolvedor."
      urlImagem="assets/imgs/thumbnail-refloresta.webp"
      linkDoCodigo="https://github.com/MayronFZ/Projeto-Refloresta"
      [arrayDeTags]="['Angular', 'Typescript', 'Scss', 'Git', 'Figma']"
    ></app-card>
    <app-card
      titulo="Projeto Portifólio para Nutricionista"
      descricao="Projeto feito para uma Nutricionista apresentar como seu trabalho é feito, detalhando os procedimentos e com a possibilidade do paciente entrar em contato para agendar uma consulta."
      urlImagem="assets/imgs/thumbnail-sitenutri.webp"
      linkDemoProjeto="https://bianca.ntr.br"
      [arrayDeTags]="['Wordpress', 'HTML', 'CSS', 'Javascript']"
    ></app-card>
    <app-card
      titulo="Teste Título"
      descricao="Teste Descição"
      urlImagem=""
    ></app-card>
  </div>
</section>
