<section>
  <h2 class="projects-title">Últimos projetos</h2>
  <div class="cards-container">
    <app-card
      titulo="Projeto Refloreste"
      descricao="Projeto feito com intuito de praticar e ensinar conceitos de desenvolvimento web com Angular e Scss junto com um amigo desenvolvedor."
      urlImagem="assets/imgs/thumbnail-refloresta.webp"
      linkDoCodigo="https://github.com/MayronFZ/Projeto-Refloresta"
      [arrayDeTags]="['Angular', 'Scss', 'Git', 'Figma']"
    ></app-card>
    <app-card
      titulo="Teste Título"
      descricao="Teste Descição"
      urlImagem=""
    ></app-card>
    <app-card
      titulo="Teste Título"
      descricao="Teste Descição"
      urlImagem=""
    ></app-card>
  </div>
</section>
