.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1em;
  list-style: none;

  & .navbar-item {
    font-size: 16px;

    & .navbar-link {
      font-weight: bold;
      text-decoration: none;
    }

    &:after {
      display: block;
      content: "";
      border-bottom: solid 2px var(--text-secondary-darken);
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }

    &:hover:after {
      transform: scaleX(1);
    }
  }
}
