<section>
  <div class="home-wrapper">
    <div class="title-name">
      Sou
      <h1>Raffael Bino</h1>
    </div>
    <div class="summary">
      <p class="sumarry-text">
        <em class="sumarry-text-emphasis">Desenvolvedor Frontend</em>. Bacharel
        em Ciências da Computação pela Universidade da Amazônia ( UNAMA )
      </p>
      <div class="social-cv">
        <div class="social"></div>
        <div class="cv">
          <a title="Baixar currículo" class="download-btn" href="">
            <img
              src="assets/icons/cv.svg"
              alt="Ícone para o download do currículo"
            />
            Baixar CV</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<app-projetos></app-projetos>
<app-sobre></app-sobre>
<app-contato></app-contato>
