/* You can add global styles to this file, and also import other style files */
@import "assets/styles/variables";

:root {
  --text-primary: #{$color1};
  --text-secondary: #{$color4};
  --text-secondary-darken: #{darken($color4, 15%)};
  --text-light: #{$color5};
  --text-white: #fff;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: var(--text-primary);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

a,
a:visited {
  color: var(--text-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--text-secondary-darken);
}

.container {
  width: 100%;
  padding-right: calc(1.5em * 0.5);
  padding-left: calc(0 * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
